<!-- Page Content -->

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Nosotros</h1>
  </div>
</section>

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Historia Empresarial
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img src="about1.jpg", class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
                <p> Madersec, inicia sus actividades en el Ecuador, a principios del año 2002, contando con amplios conocimientos en la Industria maderera, pensando en el desarrollo del sector, en primera instancia como comerciantes de madera, asì como también preocupados por el futuro del mismo, ahora también como parte del conglomerado de reforestadores del país, tratando de mantener el ecosistema y el abastecimiento de la industria maderera para futuras generaciones. </p>
                <p>
                Hemos logrado desarrollar y mantener relaciones comerciales sólidas con todos y cada uno de los clientes, en donde nuestro afán ha sido el contribuir a satisfacer cada una de sus necesidades de la mejor manera y con la optimización del recurso maderero.</p>
            </div>
        </div>
        <!-- /.row -->


        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenido a Madersec
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Quienes somos</h4>
                    </div>
                    <div class="panel-body">
                        <p>Somos una empresa fundada en el 2002, dedicada a la comercialización de madera seca en cámara. Utilizamos madera proveniente de bosques de la costa y el oriente ecuatoriano con planes de aprovechamiento forestal, contamos con plantaciones forestales para el abastecimiento futuro.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-leaf"></i> Misión</h4>
                    </div>
                    <div class="panel-body">
                        <p>Garantizar el abastecimiento de materia prima de calidad, en la elaboración de  producto terminado, para la satisfacción de nuestros clientes. <br /><br /><br /><br /></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Visión</h4>
                    </div>
                    <div class="panel-body">
                        <p>Mantenernos como empresa líder en la provisión de madera de calidad para el mercado nacional e internacional, trabajando con responsabilidad ambiental y desarrollo sustentable.<br /><br /><br /></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->