 <!-- Page Content -->

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Productos</h1>
  </div>
</section>

    <div class="container">
        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Productos</h2>
            </div>
        </div>

<!-- Projects-->
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                    <img src="product1.JPG", class="img-responsive img-hover" alt="">
            </div>
            <div class="col-md-5">
                <h3>Tablones</h3>
                <p>Ofrecemos tablones en seike (chuncho), colorado, laurel, canelo, entre otras especies, secos en horno con el 12% de humedad.</p>
                <br>
                <p>
                Dimensiones de tablones rústico :  0.25 x 0.05 x 2.4 m 
                Dimensiones de tablones cepillado: 0.22 x 0.04 x 2.3 m </p>
                <br>
                 <p>
                Diferentes medidas disponibles bajo pedido. </p>
                <br>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                    <img src="product2.jpg", class="img-responsive img-hover" alt="">
            </div>
            <div class="col-md-5">
                <h3>Durmientes</h3>
                <p>Disponemos de durmientes en madera dura.</p>
                <br>
                <p>
                Dimensiones de durmientes : 0.20 x 0.20 x 2 m </p>

            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                    <img src="product3.jpg", class="img-responsive img-hover" alt="">
            </div>
            <div class="col-md-5">
                <h3>Vigas Dimensionadas</h3>
                <p>
                    Ofrecemos vigas dimensionadas, en rústico y cepilladas, en: seike, colorado, arenillo y otros tipos de madera dura. 
                </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                    <img src="product4.JPG", class="img-responsive img-hover" alt="">
            </div>
            <div class="col-md-5">
                <h3>Pérgolas</h3>
                <p>Creamos ambientes de exterior, funcionales acorde a la exigencia de todo tipo de requerimientos.</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Otros Productos</h2>
            </div>
        </div>

        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-square-o fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <br>
                    <div class="media-body">
                        <h4 class="media-heading">Marcos</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-ellipsis-v fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <br>
                    <div class="media-body">
                        <h4 class="media-heading">Tapa Marcos</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-window-minimize fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <br>
                    <div class="media-body">
                        <h4 class="media-heading">Barrederas</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <br>
                    <div class="media-body">
                        <h4 class="media-heading">Duelas</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <br>
                    <div class="media-body">
                        <h4 class="media-heading">Medias Duelas</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->

<section class="module parallax parallax-4">
  <div class="container">
    <h1>Creación</h1>
  </div>
</section>



    <div class="parallax-window" data-parallax="scroll" data-image-src="/images/parallax1.jpg"></div>
    <div id='ceremony' class='text-justify container-full-width'>
      <div class='spacer'></div>
      <div class="page-header">
        <h1>The Ceremony & Location</h1>
      </div>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <p>We've decided to get married at <a href='http://www.sequoiaretreatcenter.com/' target=_blank>Sequoia Retreat Center in Ben Lomond</a>, a small town ~10 miles north of Santa Cruz, and ~75 miles southeast of San Francisco. We chose this venue because it is absolutely stunning, natural, and close to many of our friends and Cooper's family members, while still bearing significance for Adrianne's family. We realize that for many—especially family members and friends from the East Coast and Texas—this will be a destination wedding. We absolutely respect your time and resources, and do not want to over-extend them, although we would love to celebrate this special day with you!</p>
            <p>We have rented the entire retreat center for the weekend of October 16-18. Our ceremony will take place in a redwood grove and will be officiated by our good and trusted friend, Zoe. Following the ceremony, there will be a cocktail hour, dinner, and reception on-site. These will occur at a lodge that is not far from the ceremony site, although it is a slightly hilly climb by foot.</p>
            <h2>But wait, there's more...</h2>
            <p>First, please keep an eye on this website. We have not finalized the schedule for the day of the wedding yet, but we aim to start the ceremony between 3-4pm. We're also planning on hosting some other activities on October 17th at the venue (like skill-shares and games), so please stay tuned for a more detailed schedule.</p>
            <p>The Sequoia Retreat Center is in the Santa Cruz Hills (San Lorenzo Valley). While beautiful, there is some elevation associated with this venue. At the ceremony site, there are ~20 steps down to reach the site. At the reception site, Las Alas Lodge, there are ~10 steps separating the outdoor dinner location from the indoor lodge (where the restrooms are located and where the reception will largely occur). Las Alas Lodge is perhaps 50 feet above the ceremony site in elevation, but it is very manageable for healthy folks. For folks who need assistance, we will run a shuttle between the parking site, ceremony site, and reception site. The drive is not more than a minute between each of these places, but we do not want you to be hurting or exhausted getting to and from our wedding!</p>
            <p>Please dress however you feel comfortable. The bridal party will be wearing semi-formal attire, and we invite you to either "dress up" with us, or wear whatever makes you feel awesome. The MOST important thing is that you wear comfortable shoes! If you would like to wear spiky heels, please save them for the reception/dance floor and bring a more comfortable pair of shoes along with you! There really are so many steps and earthy places to sink a heel into—spiky heels would not be comfortable. Wedges and flats and chunky heels and boots should be fine, though.</p>
            <p>There are cabins available for rental at the venue, but they are quite basic. There are also hotel rooms blocked off at a Hilton in nearby Scott's Valley. More info on this can be found under accommodations. Unfortunately, no dogs are allowed at the venue.</p>
            <p>We'll be setting up some games for people to play on Saturday before the cermony (board games, lawn games). We'd also love to facilitate some skill-shares (small group workshops where people can learn a skill). If you have a game you love and would like to bring, or a skill you would like to share, please contact Cooper and Adrianne at cna@awesomeweddingtime.com</a>. Thanks!</p>
          </div>
        </div>
      </div>
    </div> <!-- end container -->



<hr>