 <!-- Page Content -->

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Productos</h1>
  </div>
</section>

    <div class="container">
        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Productos</h2>
            </div>
        </div>

<!-- Projects-->
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                    <img src="product1.JPG", class="img-responsive img-hover" alt="">
            </div>
            <div class="col-md-5">
                <h3>Tablones</h3>
                <p>Ofrecemos tablones en seike (chuncho), colorado, laurel, canelo, entre otras especies, secos en horno con el 12% de humedad.</p>
                <br>
                <p>
                Dimensiones de tablones rústico :  0.25 x 0.05 x 2.4 m 
                Dimensiones de tablones cepillado: 0.22 x 0.04 x 2.3 m </p>
                <br>
                 <p>
                Diferentes medidas disponibles bajo pedido. </p>
                <br>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                    <img src="product2.jpg", class="img-responsive img-hover" alt="">
            </div>
            <div class="col-md-5">
                <h3>Durmientes</h3>
                <p>Disponemos de durmientes en madera dura.</p>
                <br>
                <p>
                Dimensiones de durmientes : 0.20 x 0.20 x 2 m </p>

            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                    <img src="product3.jpg", class="img-responsive img-hover" alt="">
            </div>
            <div class="col-md-5">
                <h3>Vigas Dimensionadas</h3>
                <p>
                    Ofrecemos vigas dimensionadas, en rústico y cepilladas, en: seike, colorado, arenillo y otros tipos de madera dura. 
                </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                    <img src="product4.JPG", class="img-responsive img-hover" alt="">
            </div>
            <div class="col-md-5">
                <h3>Pérgolas</h3>
                <p>Creamos ambientes de exterior, funcionales acorde a la exigencia de todo tipo de requerimientos.</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Otros Productos</h2>
            </div>
        </div>

        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #784d28;"></i>
                              <i class="fa fa-square-o fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <br>
                    <div class="media-body">
                        <h4 class="media-heading">Marcos</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #784d28;"></i>
                              <i class="fa fa-ellipsis-v fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <br>
                    <div class="media-body">
                        <h4 class="media-heading">Tapa Marcos</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #784d28;"></i>
                              <i class="fa fa-window-minimize fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <br>
                    <div class="media-body">
                        <h4 class="media-heading">Barrederas</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #784d28;"></i>
                              <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <br>
                    <div class="media-body">
                        <h4 class="media-heading">Duelas</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary" style="color: #784d28;"></i>
                              <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <br>
                    <div class="media-body">
                        <h4 class="media-heading">Medias Duelas</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->

    <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Servicios</h2>
            </div>
    </div>
    <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary " style="color: #ffb819;"></i>
                              <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Transporte</h4>
                        <p>Realizamos envios a todo el Ecuador. </p>
                    </div>
                </div>
            </div>
    </div>


<section class="module parallax parallax-4">
  <div class="container">
    <h1>Creación</h1>
  </div>
</section>
<hr>