<div class="container">
        <!-- /.row -->
    <br>
        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
				<h2>Mensaje enviado, Nos contactaremos con usted pronto</h2>
			</div>
		</div>
</div>
